
@{
    ViewBag.Title = "_Footer";
}

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong><a href="http://www.rouillonconsulting.com/" target="_blank">Rouillon Consulting</a> | Copyright &copy; </strong>
</footer>