@{
    ViewBag.Title = "_Header";
}

<header class="main-header">
    <!-- Logo -->
    @*<a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>*@
    <!-- Header Navbar | Barra de navegación del encabezado -->
    <nav class="navbar navbar-static-top" style="background-color:#7e2a7a">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</header>