
@{
    ViewBag.Title = "ViewAllProducto";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/js/angular/controller/producto/productoController.js")></script>
}

<!-- Main content -->
<section class="content">    
    <!-- Default box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">BANDEJA PRODUCTOS</h3>
        </div>
        <!-- BODY -->
        <div class="box-body">
            <div ng-controller="productoController" ng-cloak>
                <div class="table-responsive">
                    <div class="input-small formulario-mediano col-md-7 table-options">
                        @Html.ActionLink("NUEVO PRODUCTO", "AddProducto", null, new { @class = "btn btn-sm btn-primary" })
                        @*@Html.ActionLink("VER TIPO DE PRODUCTOS", "ViewAllTipoProducto", null, new { @class = "btn btn-sm btn-success" })*@
                    </div>
                    <!-- TABLA -->
                    <table datatable="ng" class="row-border hover table table-striped table-bordered tabla-bandeja">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Producto</th>
                                <th>Descripcion</th>
                                <th>Tipo Producto</th>
                                <th>Stock</th>
                                <th>Costo</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>ACCI&Oacute;N</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in elementos.lista" ng-cloak class="lowercase">
                                <td>{{item.codigo}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.tipoProducto}}</td>
                                <td>{{item.stock}}</td>
                                <td>{{item.costo}}</td>
                                <td>{{item.precio}}</td>
                                <td>{{item.estado}}</td>
                                <td class="right" style="text-align: center;">
                                    <a title="Editar Producto" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#modal-editarProducto" ng-click="editarProducto(item)"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a title="Eliminar Producto" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-eliminarProducto" ng-click="cargarModalEliminar(item.idProducto)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- MODAL ELIMINAR -->
                <div id="modal-eliminarProducto" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">&times;</a>
                                <h4 class="modal-title"> Eliminar Producto</h4>
                            </div>
                            <div class="modal-body">
                                <p> Esta seguro de eliminar este Producto?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" data-dismiss="modal" ng-click="eliminarProducto()">Aceptar</a>
                                <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL EDITAR -->
                <div id="modal-editarProducto" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">&times;</a>
                                <h4 class="modal-title"> Editar Producto</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container" style="width:auto">
                                    <br />
                                    <form name="producto" ng-cloak>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Codigo</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" ng-model="model.codigo" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Stock</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloNumeros(event);" ng-model="model.stock" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Nombre</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloLetras(event);" ng-model="model.nombre" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4" for="selectPersonal">Estado</label>
                                            <div class="col-md-8">
                                                <select class="select2 form-control" ng-model="model.estado" required>
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="titulo1 texto-centrado control-label col-md-4" for="selectPersonal">Tipo Producto</label>
                                            <div class="col-md-8">
                                                <select id="cmbTipoProducto" class="select2 form-control" ng-model="model.idTipoProductoServicio" ng-options="item.Id as item.Nombre for item in cmbTipoProducto" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Costo</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return onKeyDecimal(event);" ng-model="model.costo" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Precio</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return onKeyDecimal(event);" ng-model="model.precio" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-md-4">Descripcion</label>
                                            <div class="col-md-8">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloLetras(event);" ng-model="model.descripcion" required />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-sm btn-primary" ng-disabled="producto.$invalid" ng-click="guardarProducto()">GUARDAR</a>
                                @Html.ActionLink("CANCELAR", "ViewAllProducto", null, new { @class = "btn btn-sm btn-danger cancelar" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>