
@{
    ViewBag.Title = "ViewAllCaja";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section scripts{
    <script src=@Url.Content("~/Scripts/js/angular/controller/caja/cajaController.js")></script>
}

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">BANDEJA DE CAJA</h3>
        </div>
        <!-- BODY -->
        <div class="box-body">
            <div ng-controller="cajaController" ng-cloak>
                <div class="table-responsive">
                    <div class="input-small formulario-mediano col-md-7 table-options">
                        @Html.ActionLink("NUEVO CIERRE DE CAJA", "AddCaja", null, new { @class = "btn btn-sm btn-primary" })
                        @*@Html.ActionLink("VER TIPO DE PRODUCTO", "ViewAllCaja", null, new { @class = "btn btn-sm btn-success" })*@
                    </div>
                    <table id="tabla-caja" datatable="ng" dt-options="dtOptions" dt-column-defs="elementos.dtColumnDefs" class="row-border hover table table-striped table-bordered tabla-bandeja">
                        <thead>
                            <tr>
                                <th>Ingreso</th>
                                <th>Saldo Inicial</th>
                                <th>Saldo Final</th>
                                <th>Estado</th>
                                <th>ACCI&Oacute;N</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in elementos.lista" ng-cloak class="lowercase">
                                <td>{{item.ingresos}}</td>
                                <td>{{item.saldoInicial}}</td>
                                <td>{{item.saldoFinal}}</td>
                                <td>{{item.estado}}</td>
                                <td class="right" style="text-align: center;">
                                    <a title="Editar Caja" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#modal-editarCaja" ng-click="editarCaja(item)"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a title="Eliminar Cierre Caja" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-eliminarCaja" ng-click="cargarModalEliminar(item.idCaja)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- MODAL ELIMINAR -->
                <div id="modal-eliminarCaja" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">&times;</a>
                                <h4 class="modal-title"> Eliminar Cierre Caja</h4>
                            </div>
                            <div class="modal-body">
                                <p> Esta seguro de eliminar este Cierre Caja?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-info" data-dismiss="modal" ng-click="eliminarCaja()">Aceptar</a>
                                <a class="btn btn-info" data-dismiss="modal">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MODAL EDITAR -->
                <div id="modal-editarCaja" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">&times;</a>
                                <h4 class="modal-title"> Editar Caja</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container" style="width:auto">
                                    <br />
                                    <form name="caja" class="form-horizontal" ng-cloak>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-3">Ingreso</label>
                                            <div class="col-md-6">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloDecimal(event);" ng-model="model.ingresos" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-3">Saldo Inicial</label>
                                            <div class="col-md-6">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloDecimal(event);" ng-model="model.saldoInicial" required />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-3">Saldo Final</label>
                                            <div class="col-md-6">
                                                <input class="form-control lowercase padding-left-right-3" onkeypress="return soloDecimal(event);" ng-model="model.saldoFinal" required />
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-3">Estado</label>
                                            <div class="col-md-6">
                                                <select class="form-control lowercase padding-left-right-3" ng-model="model.estado" required>
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-sm btn-primary" ng-disabled="caja.$invalid" ng-click="guardarCaja()">GUARDAR</a>
                                @Html.ActionLink("CANCELAR", "ViewAllCaja", null, new { @class = "btn btn-sm btn-danger cancelar" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>